# Introduction to Basic Python Ideas
## Main ideas taken from Python for Data Analysis by Wes Mckinney - READ THE RELEVANT CHAPTERS

## Variable Assignment

In [2]:
a = 5
b = 'cookie'
c = 10

In [3]:
d = a
print(d)

5

In [ ]:
a == c
#a is c

## Everything is an Object in Python

In [ ]:
a = 5 # Integer
b = 5.4 # Float
c = 'apple' #String
d = True # Boolean
e = 0 # Boolean
f = None # None

In [ ]:
# Checking types of objects
type(a)

In [ ]:
isinstance(a, int)

In [ ]:
# Type casting: We can cast one type into another (within reason)
float(a)

In [ ]:
# Type casting is not done in place, if you check a again
print(a)
# But if you assign it to another variable, then we have the new variable
j = float(a)
print(j)

In [ ]:
int(b)

In [ ]:
float(c)

In [ ]:
str(a)

# Attributes and Methods

* Each object has attributes that are unique to the object. E.g. Characters can be capitalised whereas number cannot be. Numbers can be divided by each other but characters cannot.


* Each object also has a set of allowable functions, called methods, which can be used on the object. Again, we can raise a number to a power but not a letter so the function of raising to the power is a method unique to a integer or float object.

In [ ]:
string = 'hi my name is slim shady'

In [ ]:
print(string.upper())

In [ ]:
capital_string = string.upper()

In [ ]:
capital_string.endswith('SHaDY')

In [ ]:
# Do we get a different set of methods if we have a different object
number = 7.5

In [ ]:
number.as_integer_ratio()

In [ ]:
number.is_integer()

# Binary Operators

In [ ]:
# We can use operators to find out relationships between objects. These are usually logical operators.
a = 3
b = 4

In [ ]:
# AND
((a > 1) & (b < 10))

In [ ]:
# OR
((a > 1) | (b < 2))

In [ ]:
# EXCLUSIVE OR
((a > 1) ^ (b < 2))

In [ ]:
# EQUIVALENCE
a == b

In [ ]:
# NOT EQUIVALENCE
a != b

In [ ]:
# MATHEMATICAL OPERATORS
print(3**2)
print(5 > 6)
print(5 <= 5)

# Strings

In [ ]:
string1 = "This is one way to make a string"

In [ ]:
string2 = 'This is another way to make a string'

In [ ]:
string3 = """
If you have an essay that the world just needs to hear, then you can use
triple double commas and stick what you want in between.
"""

In [ ]:
# Notice the escape quotes
string3

In [ ]:
# They disappear when printing
print(string3)

In [ ]:
intro = "My name is Junaid"

In [ ]:
# There are a whole host of String methods we can use
newintro = intro.replace("Junaid", "Joe")
newintro

In [ ]:
# We can concatenate strings together
'My best friend is ' + 'Junaid'

In [ ]:
# We can do this via variable assignment too
first_text = "My best friend is"
name = "Junaid"
first_text + name

In [ ]:
# A neat trick is string interpolation, using curly braces {}
string_to_interpolate = 'my name is {}'
string_to_interpolate

In [ ]:
string_to_interpolate.format('Junaid')

In [ ]:
string_to_interpolate_more = 'my name is {} and I live in the {}'
string_to_interpolate_more.format('Junaid', 'United Kingdom')

In [ ]:
string_to_interpolate_more = 'my name is {} and I live in the {}'
name = ''
location = ''
string_to_interpolate_more.format(name, location)

In [ ]:
# A quicker way is f strings
name = 'Junaid'
location = 'United Kingdom'
f_string_interpolated  = f'my name is {name} and I live in the {location}'
f_string_interpolated

# Dates and Times

* Datetimes are considered in a special way with Python. Dates are not a native base structure but with the datetime library, there is an imported Python structure - called a datetime object.

* It's worth going over the full details in the book - from page 44

In [ ]:
from datetime import datetime, date, time

In [ ]:
# Today's date
today = datetime.today()
today

In [ ]:
# We can pull things out of the datetime object
[today.day
,today.minute
,today.microsecond]

In [ ]:
# We can format datetime objects to they look like dates that we recognise
today.strftime("%d/%m/%Y %H:%M:%S")

In [ ]:
# We can convert properly formatted strings to datetimes
datetime.strptime('19930728', '%Y%m%d')

# Control Flow

* if, elif and else. The if statement is one of the most well-known control flow statement types. It checks a condition that, if True, evaluates the code in the block that follows.

In [ ]:
if x < 0:
    print("Houston we have a negative number")

In [ ]:
if x < 0:
    print("Houston we have a negative number")
else:
    print("Houston we have a nonnegative number")

In [ ]:
if x < 0: 
    print('negative!')
elif x == 0:
    # TODO: put something smart here 
    pass
else: 
    print('positive!')

In [ ]:
# An if statement can be optionally followed by one or more elif blocks and a catch- 
# all else block if all of the conditions are False:
if x < 0:
    print('It\'s negative')
elif x == 0:
    print('Equal to zero')
elif 0<x<5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

# Loops
* There are 2 types of loops: for loops and while loops. Before we understand loops, let's meet lists.

In [10]:
# A list is the most basic data structure in Python. 
# We hold things of different types in it
list1 = [1, 2, 3, 11, -9]
list2 = ['apple', 'orange', 'banana']
list3 = [1, 'Junaid', 27, 'Joe', ['Junaid', 28, 7, 1993]]

In [11]:
# We can see how large a list is by using the len() function
[len(list1), len(list2), len(list3)]

[5, 3, 5]

In [14]:
# We can access elements of a list by using indexing and slicing
# Indexing: Python starts with 0!!
list2[0]
print(list2[0])

# Slicing: Return all elements in a list from element 1 to before element 4
list3[1:4]
print(list3[1:5])
print(list3[4][0:3]) # You can recursively index/ slice

apple
['Junaid', 27, 'Joe', ['Junaid', 28, 7, 1993]]
['Junaid', 28, 7]

In [15]:
# We can add things to a list using the append method. Things are added at the end.
little_list = [18, 5000000, 0.987]
little_list.append(0.5) # This is added in place

little_list

[18, 5000000, 0.987, 0.5]

In [16]:
# We can take things out of a list using the pop method
little_list.pop(2) # Here we specify an index vs a value. Remove something from the 2nd position
little_list

[18, 5000000, 0.5]

In [17]:
# Say we wanted to take the list [1, 2, 3, 11, -9] and multiply every element in it by 2, we also want all numbers to be positive. 
# To do this we need an output empty list in which we will save our result and write the code for our for loop
list1 = [1, 2, 3, 11, -9]
output_list = []

# Zeroth element
x = abs(2*list1[0])
output_list.append(x)

# First element
x = abs(2*list1[1])
output_list.append(x)

# Second element
x = abs(2*list1[2])
output_list.append(x)

# Third element
x = abs(2*list1[3])
output_list.append(x)

# Fourth element
x = abs(2*list1[4])
output_list.append(x)

print(list1)
print(output_list)

[1, 2, 3, 11, -9]
[2, 4, 6, 22, 18]

In [18]:
# For loops: These loops are for when we want to perform an operation over a series of elements in an object
# Say we wanted to take the list [1, 2, 3, 11, -9] and multiply every element in it by 2, we also want all numbers to be positive. 
# To do this we need an output empty list in which we will save our result and write the code for our for loop
output_list = [] # Here is an empty list where we want to put our resulting elements in

for element in range(0, len(list1)): # For every element in the range between 0 and the length of our input list
    
    x = abs(2 * list1[element]) # What should the value be in the output list at this stage?
    output_list.append(x) # Append it to the output list
    
output_list

[2, 4, 6, 22, 18]

In [19]:
input_list = [1, 'apple', 2, 'mango', 8, 'grapes']

output_list = []

for position in range(0, len(input_list)):
    y = input_list[position]

    if isinstance(y, int):
        z = y*2
    else:
        z = y.upper()
    
    output_list.append(z)
    
output_list

[2, 'APPLE', 4, 'MANGO', 16, 'GRAPES']

In [20]:
# One better way to iterate over a range is to use enumerate where we can access the index of the list and the values
input_list = [1, 'apple', 2, 'mango', 8, 'grapes']

for index, value in enumerate(input_list):
    print([index, value])

[0, 1]
[1, 'apple']
[2, 2]
[3, 'mango']
[4, 8]
[5, 'grapes']

In [22]:
# We can rewrite the above loop in a cleaner syntax
input_list = [1, 'apple', 2, 'mango', 8, 'grapes']

output_list = []

for index, value in enumerate(input_list):
    if isinstance(value, int):
        z = value*2
    else:
        z = value.upper()
    
    output_list.append(z)
    
output_list

[2, 'APPLE', 4, 'MANGO', 16, 'GRAPES']

In [23]:
# While loops: This runs a piece of code iteratively until a condition is met
x = 256
total = 0

while x > 0:
    if total > 500:
        break # Break the if statement
    total += x
    x = x // 2

total

504

In [ ]:
256 + (256 // 2) + (128 // 2) + (64 // 2) + (32 // 2) + (16 // 2)

# Importing Modules

* In Python, we have base objects and functions which come with the initial install of the language. However there are some functions that we can download which are additional to what we call base Python. 

* We do this by installing and importing modules/ libraries/ packages. Then we can extend the reach of Python.

* For full information, please see: https://jakevdp.github.io/blog/2017/12/05/installing-python-packages-from-jupyter/

In [24]:
# Install a module - Using pip
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install numpy

Collecting numpy
  Using cached numpy-1.22.2-cp310-cp310-macosx_10_14_x86_64.whl (17.6 MB)
Installing collected packages: numpy
Successfully installed numpy-1.22.2

In [ ]:
# Installing a module - Using Conda
# Install a conda package in the current Jupyter kernel
import sys
!conda install --yes --prefix {sys.prefix} numpy

In [25]:
# Once a library is installed, it doesn't mean we can use it straight away. We must be imported.
import numpy as np

In [ ]:
# Sometimes you will have massive modules where you only want to import some functions - DON'T RUN
from numpy import fookinlongpackage as apple, greatanotherlongpackage as banana

In [26]:
# Once we have a module imported, we can use the functions contained within.
# Since we installed numpy with a prefix np, we can use that as a reference
np.ceil(9.86) # Ceiling function always rounds up to the nearest integer

10.0

# Built-in Data Structures

* In Python we have multiple native data structures.
* These are VERY important to know so check out Chapter 3 in the book

In [27]:
# We have already seen lists
list1 = ['tinky winky', 'dipsy', 'lala', 'po', [1, 2, 3]]

## Tuple

In [28]:
# Tuple: A tuple is a fixed-length, immutable sequence of Python objects
# They are created with a comma-separated sequence of values
tuple_1 = (9, 11, 4.5)
tuple_1

(9, 11, 4.5)

In [29]:
# We can nest tuples too
nested_tup = ((4,5,6), (7,8))
nested_tup

((4, 5, 6), (7, 8))

In [33]:
# We can convert any sequence to iterator into a tuple using the function tuple()
list_converted_tuple = tuple([4, 0, 2])
string_converted_tuple = tuple('string')

print(list_converted_tuple)
print(string_converted_tuple)

(4, 0, 2)
('s', 't', 'r', 'i', 'n', 'g')

In [34]:
# Accessing tuples: We can access tuples with square brackets and are 0-indexed
string_converted_tuple[1]

't'

In [35]:
# Tuples are immutable vs lists
lst = [1, 3, 19]
tup = (1, 3, 19)

# Say we wanted to replace the 3 with a 4
# We can do this with a list
lst[1] = 4
lst[2] = 56

lst

[1, 4, 56]

In [36]:
# Say we wanted to replace the 3 with a 4
# We can't do this with a tuple
tup[1] = 4

TypeError: 'tuple' object does not support item assignment

In [37]:
# We can concatenate tuples just like lists
tup_a = (1, 2, 'foo')
tup_b = (3, 4, 'bar')
tup_a + tup_b

(1, 2, 'foo', 3, 4, 'bar')

In [39]:
# We can multiple a tuple by a number, like a just a list, and it replicates the elements
tup_j = ('Junaid', 'Butt') 
tup_j * 5

('Junaid',
 'Butt',
 'Junaid',
 'Butt',
 'Junaid',
 'Butt',
 'Junaid',
 'Butt',
 'Junaid',
 'Butt')

# Dictionary

* A dictionary or dict in Python is the most important built-in Python data structure. It's also called a hash map or associative array.
* It contains a list of pairs called keys and values

In [47]:
# We create dictionaries using curly braces
dict1 = {'Junaid': ['Ice cream', 'marshmellows'], 'Arooj': 'Birthday Cake', 'Jannah': 47, 'Jainaba': 'Salad',
         'Nosheen': 'Sushi', 'Fatima': 'Rice'}
dict1

{'Junaid': ['Ice cream', 'marshmellows'],
 'Arooj': 'Birthday Cake',
 'Jannah': 47,
 'Jainaba': 'Salad',
 'Nosheen': 'Sushi',
 'Fatima': ['Rice']}

In [43]:
# We can access, insert or set elements using square brackets but we specify the key by name here
dict1['Arooj']

'Birthday Cake'

In [44]:
# Replace an existing element
dict1['Junaid'][1] = 'cake'
dict1

{'Junaid': ['Ice cream', 'cake'],
 'Arooj': 'Birthday Cake',
 'Jannah': 47,
 'Jainaba': 'Salad',
 'Nosheen': 'Sushi',
 'Fatima': 'Rice'}

In [45]:
# Insert a new element
dict1['Junaid'].append('Pusher') # Insert my previous workplace
dict1

{'Junaid': ['Ice cream', 'cake', 'Pusher'],
 'Arooj': 'Birthday Cake',
 'Jannah': 47,
 'Jainaba': 'Salad',
 'Nosheen': 'Sushi',
 'Fatima': 'Rice'}

In [48]:
dict1['Fatima'].append('Pusher') # Insert my previous workplace
dict1

{'Junaid': ['Ice cream', 'marshmellows'],
 'Arooj': 'Birthday Cake',
 'Jannah': 47,
 'Jainaba': 'Salad',
 'Nosheen': 'Sushi',
 'Fatima': ['Rice', 'Pusher']}

In [50]:
# Delete an element from a dictionary
del dict1['Junaid'][1]
dict1

{'Junaid': ['Ice cream'],
 'Arooj': 'Birthday Cake',
 'Jannah': 47,
 'Jainaba': 'Salad',
 'Nosheen': 'Sushi',
 'Fatima': ['Rice', 'Pusher']}

In [51]:
# We can access all the keys in a dictionary
dict1.keys() # But this format isn't helpful so we turn them into a list
list(dict1.keys())

['Junaid', 'Arooj', 'Jannah', 'Jainaba', 'Nosheen', 'Fatima']

In [52]:
# We can access all the values in a dictionary
dict1.values()
list(dict1.values())

[['Ice cream'], 'Birthday Cake', 47, 'Salad', 'Sushi', ['Rice', 'Pusher']]

In [53]:
# We can merge one dict into another
d1 = {'a': 'some value', 7: 'an integer'}
d2 = {'b': 'foo', 'c': '12'}

d1.update(d2) # Update is done in place so d1 is mutated
d1

{'a': 'some value', 7: 'an integer', 'b': 'foo', 'c': '12'}

In [54]:
# Bonus: Making dictionaries with zip
# Say you have 2 lists  - one of keys and one of values. We can make them into a dictionary using zip
key = ['Junaid', 'Arooj', 'Fatima', 'Joe']
values = [1993, 1999, 1996, 2001]

age_dict = dict(zip(key, values)) # zip pairs them, dict turns them into a dictionary

age_dict

{'Junaid': 1993, 'Arooj': 1999, 'Fatima': 1996, 'Joe': 2001}

## Set

* From Mathematics, a set is an unordered collection of unique elements.

* For full set of operations, see the chapter.

In [55]:
# A set is created using the set function or curly braces
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [56]:
# Sets support mathematical set operations like union, intersection, difference and symmetric difference
# Make 2 sets
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

# Union
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [57]:
# Intersection
a.intersection(b); a & b

{3, 4, 5}

In [58]:
# Check if a set is a subset of the other
a_set = {1,2,3,4,5}
{1,2,3}.issubset(a_set)

True

# Functions

* Functions are the primary and most important method of code organisation and reuse in Python.

* If you need to repeat the same or very similar code more than once, it is worth writing a resuable function. 

* Functions are declared with the def keyword and a result is returned with the return keyword

In [59]:
# Let's define a function to cube a number and add the log of the other
def my_function(x,y):
    z = x**3 + np.log(y) # Variables created inside a function are not created globally
    return z

# Let's use the function
my_function(x = 2, y = 3)

9.09861228866811

In [60]:
# Inputs to a function are called arguments. In the previous function, x and y are called arguments.
# Arguments can be named anything and we can set some arguments to a default value
def my_sloppy_function(junaid, fatima, power = 3):
    z = junaid**power + np.log(fatima)
    return z

In [61]:
# The function gives the same result
my_sloppy_function(junaid = 2, fatima = 3) # In this function, we assume the default value

9.09861228866811

In [62]:
# We can change the default argument value too
my_sloppy_function(junaid = 2, fatima = 3, power = 2)

5.09861228866811

In [63]:
# We can stick anything inside a function and return it
# Let's make a function to check if an input star sign is Junaid's star sign
def is_junaid_starsign(starsign):
    
    # Change the input to all lowercase
    lc_starsign = starsign.lower()
    
    # Use an if else statement to check if it's my starsign
    if lc_starsign == 'leo':
        z = "This is Junaid\'s starsign yay"
    else:
        z = "This is not Junaid\'s starsign - don't you know astrology is haram!"
        
    return z

In [66]:
# Test the function
is_junaid_starsign('Virgil')

"This is not Junaid's starsign - don't you know astrology is haram!"

In [72]:
# A function can return multiple values
# Write a function to return capital cities

capitals = ['London', 'Paris', 'Dubai', 'Moscow', 'Madinah', 'Addis Abbaba']

def give_me_cities(x = 'London', y = 'Paris', z = 'Dubai'):
    
    e = 'Moscow'; f = 'Madinah'; g = 'Addis Abbaba'
    
    return x,y,z,e,f,g

give_me_cities(x = 'Islamabad', y = 'Paris', z = 'Dubai')

('Islamabad', 'Paris', 'Dubai', 'Moscow', 'Madinah', 'Addis Abbaba')

In [73]:
# We can save a function's results to a variable
capital_tup = give_me_cities(x = 'London', y = 'Paris', z = 'Dubai')
capital_tup

('London', 'Paris', 'Dubai', 'Moscow', 'Madinah', 'Addis Abbaba')

In [75]:
# We can save the multiple returned values to multiple output objects
# We can even make functions with no arguments
def useless_function():
    x = list("Apple")
    y = list("Orange")
    z = 'Thank you for attending'
    
    return x, y, z

foo, bar, baz = useless_function()

['A', 'p', 'p', 'l', 'e']
['O', 'r', 'a', 'n', 'g', 'e']
Thank you for attending

In [76]:
print(foo)
print(bar)
print(baz)

['A', 'p', 'p', 'l', 'e']
['O', 'r', 'a', 'n', 'g', 'e']
Thank you for attending

# Asking for help

* Very often there will be built in functions about which you don't know. We can use the help() function with the function name as the argument to check the Python documentation.

* Failing that, it's legitimate to check the internet (stackoverflow)

In [77]:
# Using the help function gives access to Python documentation
help(np.random.poisson)

Help on built-in function poisson:

poisson(...) method of numpy.random.mtrand.RandomState instance
    poisson(lam=1.0, size=None)

    Draw samples from a Poisson distribution.

    The Poisson distribution is the limit of the binomial distribution
    for large N.

    .. note::
        New code should use the ``poisson`` method of a ``default_rng()``
        instance instead; please see the :ref:`random-quick-start`.

    Parameters
    ----------
    lam : float or array_like of floats
        Expected number of events occurring in a fixed-time interval,
        must be >= 0. A sequence must be broadcastable over the requested
        size.
    size : int or tuple of ints, optional
        Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
        ``m * n * k`` samples are drawn.  If size is ``None`` (default),
        a single value is returned if ``lam`` is a scalar. Otherwise,
        ``np.array(lam).size`` samples are drawn.

    Returns
    -------
    out : ndarray or scalar
        Drawn samples from the parameterized Poisson distribution.

    See Also
    --------
    Generator.poisson: which should be used for new code.

    Notes
    -----
    The Poisson distribution

    .. math:: f(k; \lambda)=\frac{\lambda^k e^{-\lambda}}{k!}

    For events with an expected separation :math:`\lambda` the Poisson
    distribution :math:`f(k; \lambda)` describes the probability of
    :math:`k` events occurring within the observed
    interval :math:`\lambda`.

    Because the output is limited to the range of the C int64 type, a
    ValueError is raised when `lam` is within 10 sigma of the maximum
    representable value.

    References
    ----------
    .. [1] Weisstein, Eric W. "Poisson Distribution."
           From MathWorld--A Wolfram Web Resource.
           http://mathworld.wolfram.com/PoissonDistribution.html
    .. [2] Wikipedia, "Poisson distribution",
           https://en.wikipedia.org/wiki/Poisson_distribution

    Examples
    --------
    Draw samples from the distribution:

    >>> import numpy as np
    >>> s = np.random.poisson(5, 10000)

    Display histogram of the sample:

    >>> import matplotlib.pyplot as plt
    >>> count, bins, ignored = plt.hist(s, 14, density=True)
    >>> plt.show()

    Draw each 100 values for lambda 100 and 500:

    >>> s = np.random.poisson(lam=(100., 500.), size=(100, 2))

In [78]:
np.random.poisson(lam = 10, size = 3)

array([ 7, 16, 14])